.primary-font{
    font-family: 'Nunito', sans-serif;
    color : #012970;
}
.secondary-font{
    font-family: 'Open Sans', sans-serif;
    
}
.primary-font:hover {
    color: #4154f1;
}


.navbar-white .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(1, 41, 112, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.fs-primary{
    font-family: 'Nunito', sans-serif;
    color : #012970;
}

.hero-contact-btn{
    color: #fff;
    background-color: #012970;
    font-family: 'Nunito', sans-serif;
}

.hero-contact-btn:hover{
    color: #012970;
    background-color: #fff;
    border: 1px solid #012970;
}